.sadrzaj
{
    margin: 20px;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    padding: 15px;
}

.parent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

::ng-deep .main-btn .p-button{
    background: rgba(50, 0, 128, 0.603) !important;
    /*border: 1px solid blueviolet;
    background: rgba(9, 0, 128, 0.603);
    border: 1px solid #ddd;*/
    color: white !important;
  }


::ng-deep .main-btn .p-button:hover {
    background: rgba(70, 0, 128, 0.803) !important;
}

.dodavanje
{
    float: right;
}

.addDiv
{
    margin-top: 15px;
}

.addBtn
{
    float: right;
    margin-top: 8px;
}

.textInput
{
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 20px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

.drop
{
    width: 100%;
    margin-top: 6px;
    margin-bottom: 20px;
}


:host ::ng-deep .custom-dd .p-dropdown { 
    width: 100%; 
}


.form-group {
    display: grid;
    grid-template-rows: min-content auto; /* Prvi red je za labelu, drugi red je za input */
    gap: 0.5rem; /* Prostor između labela i input polja */
}

label {
    grid-row: 1; /* Labela uvijek na prvom redu */
}

.container 
{
    padding: 20px;
}

.scndBtn
{
    margin-right: 15px;
}

.search
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    
}

:host ::ng-deep .p-datepicker table td {
    padding: 0.1rem;
}

:host ::ng-deep .p-datepicker table {
font-size: 0.7rem;
}

:host ::ng-deep .p-dialog {
    min-height: 70%;
}