<p-toast></p-toast>
<div class="sadrzaj">
    <div class="parent">
        <div>
            <h1>Dnevni raspored</h1>
        </div>
        <!-- Modal za dodavanje -->
        <div class="addDiv">
            <p-button label="Dodaj" icon="pi pi-plus" severity="help" (click)="showAddDialog()"></p-button>
            <p-dialog header="Dodavanje dnevnog rasporeda" [(visible)]="addVisible" [modal]="true" [style]="{ width: '500px'}" [draggable]="false" [resizable]="false">
                <div class="container">
                   <form #addForm="ngForm" (ngSubmit)="onAddDnevniRaspored(addForm)">
                    <label for="datum">Datum</label>
                    <div class="drop card flex justify-content-center">
                    <p-calendar 
                    id="datum"
                    ngModel
                    name="datum" 
                    [showIcon]="true" 
                    [showOnFocus]="false" 
                    [minDate]="danasnjiDatum"
                    inputId="buttondisplay"
                    dateFormat="dd.mm.yy"
                    dataType="string" />
                    </div>
                    
                        <div class="drop card flex justify-content-center">
                            <p-dropdown class="custom-dd" [options]="rasporeds" [(ngModel)]="selectedRaspored" name="raspored" optionLabel="tipRasporeda" [showClear]="true" placeholder="Izaberi raspored"></p-dropdown>
                        </div>
                        <div class="addBtn">
                            <p-button type="submit" [disabled]="addForm.invalid || false" label="Sačuvaj" [raised]="true" severity="help"></p-button>
                        </div>
                    </form>
                </div>
            </p-dialog>
        </div>
    </div>
    <div class="search card flex flex-wrap justify-content-center gap-3">
        <span>

        </span>
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="search" pInputText (ngModelChange)="searchDnevniRasporeds(key.value)" #key="ngModel" ngModel/>
        </span>
    </div>
    <p-table
        [value]="dnevniRasporeds"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Prikazano od {first}. do {last}. od ukupno {totalRecords} zapisa"
        [rowsPerPageOptions]="[5, 10, 25, 50]"
        paginatorLocale="en-US"
    >
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 33%">Datum</th>
            <th style="width: 33%">Tip rasporeda</th>  
            <th style="width: 33%">Opcije</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dnevniRaspored>
        <tr>
            <td>{{ fixDate(dnevniRaspored.datum) }}</td>
            <td>{{ dnevniRaspored.raspored.tipRasporeda }}</td>
            
            <td>
                <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" styleClass="p-button-text" (click)="showEditDialog(dnevniRaspored)"></p-button>
                <p-button icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger " (click)="showDeleteDialog(dnevniRaspored)"></p-button>
            </td>
        </tr>
    </ng-template>
    
    </p-table>
</div>

<!--Modal za izmjenu(edit)-->
<p-dialog header="Izmjena dnevnog rasporeda" [(visible)]="editVisible" [modal]="true" [style]="{ width: '500px'}" [draggable]="false" [resizable]="false">
    <div class="container">
        <form #editForm="ngForm">
            <input type="hidden" id="id_dnevniRaspored" ngModel="{{editDnevniRaspored?.idDnevniRaspored}}" name="idDnevniRaspored"/>
            <label for="datum">Datum</label>
                    <div class="drop card flex justify-content-center">
                    <p-calendar 
                    id="datum"
                    ngModel="{{fixDate(editDnevniRaspored?.datum)}}"
                    name="datum" 
                    [showIcon]="true" 
                    [showOnFocus]="false" 
                    [minDate]="danasnjiDatum"
                    inputId="buttondisplay"
                    dateFormat="dd.mm.yy"
                    dataType="string" />
                    </div>
            <div class="drop card flex justify-content-center">
                <p-dropdown class="custom-dd" [options]="rasporeds" [(ngModel)]="selectedRaspored" name="raspored" optionLabel="tipRasporeda" [showClear]="true" placeholder="Izaberi raspored"></p-dropdown>
            </div>
            <div class="addBtn">
                <p-button (onClick)="onUpdateDnevniRaspored(editForm.value)" [disabled]="editForm.invalid || false" type="submit" label="Sačuvaj" [raised]="true" severity="help"></p-button>
            </div>
        </form>
    </div>
</p-dialog>

<!--Modal za brisanje-->
<p-dialog header="Upozorenje" [(visible)]="deleteVisible" [modal]="true" [style]="{ width: '500px'}" [draggable]="true" [resizable]="false">
    <div class="container">
        <p>Da li zaista želite da obrišete zapis ?</p>
        <br>
        <div class="addBtn">
            <p-button (onClick)="closeDeleteDialog()" class="scndBtn" label="Odustani" severity="secondary"></p-button>
            <p-button (onClick)="onDeleteDnevniRaspored(delIdDnevniRaspored)" label="Obriši" severity="danger"></p-button>
        </div>
    </div>
</p-dialog>
