<header *ngIf="showHeader">
    <div class="row-1">
        <img class="rounded-image" src="/assets/img/logo2.png">
    </div>

    <div class="row-2">
        <h2>eSportskiCentar</h2>
    </div>
    
    <div class="row-3">
        <img class="user-icon" src="/assets/img/user.jpg" (click)="showPaddingMenu()">
    </div>
    
</header>

<div class="sidenav" *ngIf="showSidenav">
    <a routerLink="/dogadjaj" routerLinkActive="active" (click)="toggleSidenav()">
        <div class="content">
            <div class="column">
                <i class="pi pi-server"></i>
            </div>
            <div class="column">
                <p class="title">Dodavanje događaja</p>
                <p class="description">Unos podataka o događaju</p>
            </div>
        </div>
    </a>
    <a routerLink="/dogadjajPregled" routerLinkActive="active" (click)="toggleSidenav()">
        <div class="content">
            <div class="column">
                <i class="pi pi-server"></i>
            </div>
            <div class="column">
                <p class="title">Pregled događaja</p>
                <p class="description">Prikaz unesenih događaja</p>
            </div>
        </div>
    </a>
    <a routerLink="/admin/odabirDogadjaja" routerLinkActive="active" (click)="toggleSidenav()">
        <div class="content">
            <div class="column">
                <i class="pi pi-server"></i>
            </div>
            <div class="column">
                <p class="title">Odobravanje događaja</p>
                <p class="description">Prikaz i odobravanje događaja</p>
            </div>
        </div>
    </a>
    <a routerLink="/takmicenje" routerLinkActive="active" (click)="toggleSidenav()">
        <div class="content">
            <div class="column">
                <img class="pi" src="/assets/img/trophy.png">
            </div>
            <div class="column">
                <p class="title">Registracija lige/turnira</p>
                <p class="description">Kreiranje novog takmičenja</p>
            </div>
        </div>
    </a>
    <a routerLink="/zadatak" routerLinkActive="active" (click)="toggleSidenav()">
        <div class="content">
            <div class="column">
                <i class="pi pi-send"></i>
            </div>
            <div class="column">
                <p class="title">Slanje zadatka</p>
                <p class="description">Poruke dežurnim radnicima</p>
            </div>
        </div>
    </a>
    <a routerLink="/radnik/zadaci" routerLinkActive="active" (click)="toggleSidenav()">
        <div class="content">
            <div class="column">
                <i class="pi pi-check-square"></i>
            </div>
            <div class="column">
                <p class="title">Zadatak radnika</p>
                <p class="description">Prikaz i izmjena individualnih zadataka</p>
            </div>
        </div>
    </a>
    <a routerLink="/cjenovnik" routerLinkActive="active" (click)="toggleSidenav()">
        <div class="content">
            <div class="column">
                <i class="pi pi-calculator"></i> 
            </div>
            <div class="column">
                <p class="title">Cjenovnik</p>
                <p class="description">Prikaz i izmjena cijena termina</p>
            </div>
        </div>
    </a>
    <a routerLink="/grad" routerLinkActive="active" (click)="toggleSidenav()">
        <div class="content">
            <div class="column">
                <i class="pi pi-building"></i>
            </div>
            <div class="column">
                <p class="title">Grad</p>
                <p class="description">Prikaz i izmjena gradova</p>
            </div>
        </div>
    </a>
    <a routerLink="/inventar" routerLinkActive="active" (click)="toggleSidenav()">
        <div class="content">
            <div class="column">
                <i class="pi pi-truck"></i>
            </div>
            <div class="column">
                <p class="title">Inventar</p>
                <p class="description">Prikaz i izmjena inventara</p>
            </div>
        </div>
    </a>
    <a routerLink="/raspored" routerLinkActive="active" (click)="toggleSidenav()">
        <div class="content">
            <div class="column">
                <i class="pi pi-calendar"></i> 
            </div>
            <div class="column">
                <p class="title">Raspored</p>
                <p class="description">Prikaz i izmjena rasporeda</p>
            </div>
        </div>
    </a>
    <a routerLink="/dnevniRaspored" routerLinkActive="active" (click)="toggleSidenav()">
        <div class="content">
            <div class="column">
                <i class="pi pi-calendar"></i> 
            </div>
            <div class="column">
                <p class="title">Dnevni raspored</p>
                <p class="description">Prikaz i izmena dnevnog rasporeda</p>
            </div>
        </div>
    </a>
    <a routerLink="/dvorana" routerLinkActive="active" (click)="toggleSidenav()">
        <div class="content">
            <div class="column">
                <i class="pi pi-home"></i>
            </div>
            <div class="column">
                <p class="title">Dvorana</p>
                <p class="description">Prikaz i izmjena dvorana</p>
            </div>
        </div>
    </a>
    <a routerLink="/sport" routerLinkActive="active" (click)="toggleSidenav()">
        <div class="content">
            <div class="column">
                <img class="pi" src="/assets/img/sports.png">
            </div>
            <div class="column">
                <p class="title">Sport</p>
                <p class="description">Prikaz i izmjena sportova</p>
            </div>
        </div>
    </a>
    <a routerLink="/ulaz" routerLinkActive="active" (click)="toggleSidenav()">
        <div class="content">
            <div class="column">
                <img class="pi" src="/assets/img/double-door.png">
            </div>
            <div class="column">
                <p class="title">Ulaz</p>
                <p class="description">Prikaz i izmjena ulaza</p>
            </div>
        </div>
    </a>
    <a routerLink="/svlacionica" routerLinkActive="active" (click)="toggleSidenav()">
        <div class="content">
            <div class="column">
                <img class="pi" src="/assets/img/school.png">
            </div>
            <div class="column">
                <p class="title">Svlačionica</p>
                <p class="description">Prikaz i izmjena svlačionica</p>
            </div>
        </div>
    </a>
    <a routerLink="/ekipa" routerLinkActive="active" (click)="toggleSidenav()">
        <div class="content">
            <div class="column">
                <i class="pi pi-users"></i>
            </div>
            <div class="column">
                <p class="title">Ekipa</p>
                <p class="description">Prikaz i izmjena ekipa</p>
            </div>
        </div>
    </a>
    <a routerLink="/teren" routerLinkActive="active" (click)="toggleSidenav()">
        <div class="content">
            <div class="column">
                <img class="pi" src="/assets/img/field.png">
            </div>
            <div class="column">
                <p class="title">Teren</p>
                <p class="description">Prikaz i izmjena terena</p>
            </div>
        </div>
    </a>
    <a routerLink="/tipterena" routerLinkActive="active" (click)="toggleSidenav()">
        <div class="content">
            <div class="column">
                <i class="pi pi-server"></i>
            </div>
            <div class="column">
                <p class="title">Tip terena</p>
                <p class="description">Prikaz i izmjena tipa terena</p>
            </div>
        </div>
    </a>
    <a routerLink="/dezurniRadnik" routerLinkActive="active" (click)="toggleSidenav()">
        <div class="content">
            <div class="column">
                <i class="pi pi-wrench"></i>
            </div>
            <div class="column">
                <p class="title">Dežurni radnik</p>
                <p class="description">Pregled podataka o dežurnim radnicima</p>
            </div>
        </div>
    </a>
    <a routerLink="/upravnik" routerLinkActive="active" (click)="toggleSidenav()">
        <div class="content">
            <div class="column">
                <i class="pi pi-briefcase"></i>
            </div>
            <div class="column">
                <p class="title">Upravnik</p>
                <p class="description">Prikaz podataka o upravnicima</p>
            </div>
        </div>
    </a>
</div>

<ul [ngClass]="{'visible': showMenu}">
    <li>Pregled naloga</li>
    <li (click)="logout()">Odjava</li>
</ul>

<button *ngIf="!showSidenav" (click)="toggleSidenav()">></button>
<button *ngIf="showHideButton" (click)="toggleSidenav()">&lt;</button>

<div class="main-content">
    <router-outlet></router-outlet>
</div>

