<p-toast></p-toast>
<div class="sadrzaj">
    <div class="parent">
        <div>
            <h1>Teren</h1>
        </div>
        <!-- Modal za dodavanje -->
        <div class="addDiv">
            <p-button class="main-btn" label="Dodaj" icon="pi pi-plus" severity="help" (click)="showAddDialog()"></p-button>
            <p-dialog header="Dodavanje terena" [(visible)]="addVisible" [modal]="true" [style]="{ width: '500px'}" [draggable]="false" [resizable]="false">
                <div class="container">
                   <form #addForm="ngForm" (ngSubmit)="onAddTeren(addForm)">
                        <label for="naziv_terena">Naziv terena</label>
                        <input type="text" pInputText class="textInput" id="naziv_terena" ngModel name="nazivTerena" required/>
                        <!-- Bice uklonjeno -->
                        <!--<label for="slika">URL slike</label>
                        <input type="text" pInputText class="textInput" id="slika" ngModel name="slika" required/>-->
                        <label for="file-upload" class="custom-file-upload">
                            Dodaj fotografiju
                        </label>
                        <input id="file-upload" type="file" accept="image/*" (change)="onFileSelected($event)" name="slikaFile">
                        <span id="file-name">&nbsp;&nbsp;{{ fileName }}</span>
                        <div class="form-group">
                            <label for="duzina">Dužina</label>
                            <input type="text" pInputText class="textInput1" pattern="[0-9]+([.,][0-9]+)?" id="duzina" ngModel name="duzina" required/>
                            <label for="sirina">Širina</label>
                            <input type="text" pInputText class="textInput1" pattern="[0-9]+([.,][0-9]+)?" id="sirina" ngModel name="sirina" required/>
                        </div>
                        <div class="card flex justify-content-center check">
                            <p-checkbox 
                                [(ngModel)]="checkedAdd"
                                [binary]="true"
                                name="dostupan" 
                                inputId="dostupan" />
                            <label class="forCheck" for="dostupan">Dostupan</label>
                        </div>
                        <div class="drop card flex justify-content-center">
                            <p-dropdown class="custom-dd" [options]="dvoranas" [(ngModel)]="selectedDvorana" name="dvorana" optionLabel="nazivDvorane" [showClear]="true" placeholder="Izaberi dvoranu"></p-dropdown>
                        </div>
                        <div class="drop card flex justify-content-center">
                            <p-dropdown class="custom-dd" [options]="tipTerenas" [(ngModel)]="selectedTipTerena" name="tipTerena" optionLabel="nazivTipaTerena" [showClear]="true" placeholder="Izaberi tip terena"></p-dropdown>
                        </div>
                        <textarea type="text" pInputText class="textInputL" id="info" ngModel name="info" required></textarea>
                        <div class="addBtn">
                            <p-button class="main-btn" type="submit" [disabled]="addForm.invalid || false" label="Sačuvaj" [raised]="true" severity="help"></p-button>
                        </div>
                    </form>
                </div>
            </p-dialog>
        </div>
    </div>
    <div class="search card flex flex-wrap justify-content-center gap-3">
        <span>

        </span>
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="search" pInputText (ngModelChange)="searchTerens(key.value)" #key="ngModel" ngModel/>
        </span>
    </div>
    <p-table
        [value]="terens"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Prikazano od {first}. do {last}. od ukupno {totalRecords} zapisa"
        [rowsPerPageOptions]="[5, 10, 25, 50]"
        paginatorLocale="en-US"
    >
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 16.5%">Naziv terena</th>
            <th style="width: 16.5%">Dvorana</th>
            <th style="width: 16.5%">Tip Terena</th> 
            <th style="width: 16.5%">Dužina</th>
            <th style="width: 16.5%">Širina</th> 
            <th style="width: 16.5%">Opcije</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-teren>
        <tr>
            <td>{{ teren.nazivTerena }}</td>
            <td>{{ teren.dvorana.nazivDvorane }}</td>
            <td>{{ teren.tipTerena.nazivTipaTerena }}</td>
            <td>{{ teren.duzina }}</td>
            <td>{{ teren.sirina }}</td>
            <td>
                <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" styleClass="p-button-text" (click)="showEditDialog(teren)"></p-button>
                <p-button icon="pi pi-info-circle" [rounded]="true" [text]="true" severity="success " (click)="showInfoDialog(teren)"></p-button>
                <p-button icon="pi pi-image" [rounded]="true" [text]="true" severity="warning ">
                    <p-image 
                        src={{teren.slika}} 
                        width="0" 
                        [preview]="true" />
                </p-button>
                <p-button icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger " (click)="showDeleteDialog(teren)"></p-button>
            </td>
        </tr>
    </ng-template>
    
    </p-table>
</div>

<!--Modal za izmjenu(edit)-->
<p-dialog header="Izmjena terena" [(visible)]="editVisible" [modal]="true" [style]="{ width: '500px'}" [draggable]="false" [resizable]="false">
    <div class="container">
        <form #editForm="ngForm">
            <input type="hidden" id="id_teren" ngModel="{{editTeren?.idTeren}}" name="idTeren"/>
            <label for="naziv_terena">Naziv terena</label>
            <input type="text" pInputText class="textInput" id="naziv_terena" ngModel="{{editTeren?.nazivTerena}}" name="nazivTerena" required/>
            <label for="slika">Slika</label>
            <input type="text" pInputText class="textInput" id="slika" ngModel="{{editTeren?.slika}}" name="slika" required/>
            <div class="form-group">
                <label for="duzina">Dužina</label>
                <input type="text" pInputText class="textInput1" pattern="[0-9]+([.,][0-9]+)?" id="duzina" ngModel="{{editTeren?.duzina}}" name="duzina" required/>
                <label for="sirina">Širina</label>
                <input type="text" pInputText class="textInput1" pattern="[0-9]+([.,][0-9]+)?" id="sirina" ngModel="{{editTeren?.sirina}}" name="sirina" required/>
            </div>
            <div class="card flex justify-content-center check">
                <p-checkbox 
                    [(ngModel)]="checkedEdit"
                    [binary]="true"
                    name="dostupan" 
                    inputId="dostupan" />
                <label class="forCheck" for="dostupan">Dostupan</label>
            </div>
            <div class="drop card flex justify-content-center">
                <p-dropdown class="custom-dd" [options]="dvoranas" [(ngModel)]="selectedDvorana" name="dvorana" optionLabel="nazivDvorane" [showClear]="true" placeholder="Izaberi dvoranu"></p-dropdown>
            </div>
            <div class="drop card flex justify-content-center">
                <p-dropdown class="custom-dd" [options]="tipTerenas" [(ngModel)]="selectedTipTerena" name="tipTerena" optionLabel="nazivTipaTerena" [showClear]="true" placeholder="Izaberi tip terena"></p-dropdown>
            </div>
            <textarea type="text" pInputText class="textInput" id="info" ngModel="{{editTeren?.info}}" name="info" required></textarea>
            <div class="addBtn">
                <p-button class="main-btn" (onClick)="onUpdateTeren(editForm.value)" [disabled]="editForm.invalid || false" type="submit" label="Sačuvaj" [raised]="true" severity="help"></p-button>
            </div>
        </form>
    </div>
</p-dialog>

<!--Modal za brisanje-->
<p-dialog header="Upozorenje" [(visible)]="deleteVisible" [modal]="true" [style]="{ width: '500px'}" [draggable]="true" [resizable]="false">
    <div class="container">
        <p>Da li zaista želite da obrišete zapis {{delTeren?.nazivTerena}}?</p>
        <br>
        <div class="addBtn">
            <p-button (onClick)="closeDeleteDialog()" class="scndBtn" label="Odustani" severity="secondary"></p-button>
            <p-button (onClick)="onDeleteTeren(delIdTeren)" label="Obriši" severity="danger"></p-button>
        </div>
    </div>
</p-dialog>


<!--Modal za informacije-->
<p-dialog header="Informacije" [(visible)]="infoVisible" [modal]="false" [style]="{ width: '500px'}" [draggable]="true" [resizable]="false">
    <div class="container">
        <div>
            <p><span class="labela">Naziv terena:</span> &nbsp;&nbsp;&nbsp;&nbsp; <span class="intel">{{infoTeren?.nazivTerena}}</span></p>
        </div>
        <div>
            <p><span class="labela">Dvorana:</span> &nbsp;&nbsp;&nbsp;&nbsp; <span class="intel">{{infoTeren?.dvorana?.nazivDvorane}}</span></p>
        </div>
        <div>
            <p><span class="labela">Tip terena:</span> &nbsp;&nbsp;&nbsp;&nbsp; <span class="intel">{{infoTeren?.tipTerena?.nazivTipaTerena}}</span></p>
        </div>
        <div>
            <p><span class="labela">Dužina:</span> &nbsp;&nbsp;&nbsp;&nbsp; <span class="intel">{{infoTeren?.duzina}} m</span></p>
        </div>
        <div>
            <p><span class="labela">Širina:</span> &nbsp;&nbsp;&nbsp;&nbsp; <span class="intel">{{infoTeren?.sirina}} m</span></p>
        </div>
        <div>
            <p><span class="labela">Dostupan:</span> &nbsp;&nbsp;&nbsp;&nbsp; <span [ngClass]="infoTeren?.dostupan ? 'available' : 'not-available'" class="intel">{{ infoTeren?.dostupan ? 'Dostupan' : 'Nije dostupan' }}</span></p>
        </div>
        <div>
            <p><span class="labela">Opis:</span> &nbsp;&nbsp;&nbsp;&nbsp; <span class="intel">{{infoTeren?.info}}</span></p>
        </div>
        <br>
        <div class="addBtn">
            <p-button (onClick)="closeInfoDialog()" class="scndBtn" label="Izađi" severity="secondary"></p-button>
        </div>
    </div>
</p-dialog>

