<p-toast></p-toast>
<div class="sadrzaj">
    <div class="parent">
        <div>
            <h1>Zadatak</h1>
        </div>
        <!-- Modal za dodavanje -->
        <div class="addDiv">
            <p-button class="main-btn" label="Dodaj" icon="pi pi-plus" severity="help" (click)="showAddDialog()"></p-button>
            <p-dialog header="Dodavanje zadataka" [(visible)]="addVisible" [modal]="true" [style]="{ width: '500px'}" [draggable]="false" [resizable]="false">
                <div class="container">
                   <form #addForm="ngForm" (ngSubmit)="onAddZadatak(addForm)">
                    <label for="datum_kreiranja">Datum kreiranja</label>
                    <div class="drop card flex justify-content-center">
                    <p-calendar 
                    class="main-btn"
                    id="datum_kreiranja" 
                    ngModel
                    name="datumKreiranja" 
                    [showIcon]="true" 
                    [showOnFocus]="false" 
                    [minDate]="datumKreiranja"
                    inputId="buttondisplay"
                    dateFormat="dd.mm.yy" 
                    dataType="string"/>
                    </div>
                    <label for="rok_izvrsenja">Rok izvršenja</label>
                    <div class="drop card flex justify-content-center">
                    <p-calendar 
                    class="main-btn"
                    id="rok_izvrsenja"
                    ngModel
                    name="rokIzvrsenja" 
                    [showIcon]="true" 
                    [showOnFocus]="false" 
                    [minDate]="datumKreiranja"
                    inputId="buttondisplay"
                    dateFormat="dd.mm.yy"
                    dataType="string" />
                    </div>

                        <label for="info">Info</label>
                        <input type="text" pInputText class="textInput" id="info" ngModel name="info" required/>
                        
                        <div class="drop card flex justify-content-center">
                            <p-dropdown class="custom-dd" [options]="upravniks" [(ngModel)]="selectedUpravnik" name="upravnik" optionLabel="ime" [showClear]="true" placeholder="Izaberi upravnika"></p-dropdown>
                        </div>
                        <div class="drop card flex justify-content-center">
                            <p-dropdown class="custom-dd" [options]="dezurniRadniks" [(ngModel)]="selectedDezurniRadnik" name="dezurniRadnik" optionLabel="ime" [showClear]="true" placeholder="Izaberi dežurnog radnika"></p-dropdown>
                        </div>
                        <div class="addBtn">
                            <p-button class="main-btn" type="submit" [disabled]="addForm.invalid || false" label="Sačuvaj" [raised]="true" severity="help"></p-button>
                        </div>
                    </form>
                </div>
            </p-dialog>
        </div>
    </div>
    <div class="search card flex flex-wrap justify-content-center gap-3">
        <span>

        </span>
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="search" pInputText (ngModelChange)="searchZadataks(key.value)" #key="ngModel" ngModel/>
        </span>
    </div>
    <p-table
        [value]="zadataks"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Prikazano od {first}. do {last}. od ukupno {totalRecords} zapisa"
        [rowsPerPageOptions]="[5, 10, 25, 50]"
        paginatorLocale="en-US"
    >
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 16,6%">Datum kreiranja</th>
            <th style="width: 16,6%">Rok izvršenja</th>
            <th style="width: 16,6%">Info</th>  
            <th style="width: 16,6%">Upravnik</th>  
            <th style="width: 16,6%">Dežurni radnik</th>  
            <th style="width: 16,6%">Opcije</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-zadatak>
        <tr>
            <td>{{ fixDate(zadatak.datumKreiranja)}}</td>
            <td>{{ fixDate(zadatak.rokIzvrsenja)}}</td>
            <td>{{ zadatak.info}}</td>
            <td>{{ zadatak.upravnik.ime }} </td>
            <td>{{ zadatak.dezurniRadnik.ime }}</td>
            
            <td>
                <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" styleClass="p-button-text" (click)="showEditDialog(zadatak)"></p-button>
                <p-button icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger " (click)="showDeleteDialog(zadatak)"></p-button>
            </td>
        </tr>
    </ng-template>
    
    </p-table>
</div>

<!--Modal za izmjenu(edit)-->
<p-dialog header="Izmjena zadataka" [(visible)]="editVisible" [modal]="true" [style]="{ width: '500px'}" [draggable]="false" [resizable]="false">
    <div class="container">
        <form #editForm="ngForm">
            <input type="hidden" id="id_zadatak" ngModel="{{editZadatak?.idZadatak}}" name="idZadatak"/>
            <input type="hidden" id="datum_kreiranja" ngModel="{{editZadatak?.datumKreiranja}}" name="datumKreiranja"/>
            <label for="datum_kreiranja">Datum kreiranja</label>
                    <div class="drop card flex justify-content-center">
                    <p-calendar 
                    class="main-btn"
                    id="datum_kreiranja" 
                    ngModel="{{fixDate(editZadatak?.datumKreiranja)}}"
                    name="datumKreiranja" 
                    [showIcon]="true" 
                    [showOnFocus]="false" 
                    [minDate]="datumKreiranja"
                    inputId="buttondisplay"
                    dateFormat="dd.mm.yy" 
                    dataType="string"/>
                    </div>
            <label for="rok_izvrsenja">Rok izvršenja</label>
            <div class="drop card flex justify-content-center">
                <p-calendar 
                class="main-btn"
                id="rok_izvrsenja"
                ngModel="{{fixDate(editZadatak?.rokIzvrsenja)}}"
                name="rokIzvrsenja" 
                [showIcon]="true" 
                [showOnFocus]="false" 
                [minDate]="datumKreiranja"
                inputId="buttondisplay"
                dateFormat="dd.mm.yy"
                dataType="string" />
                </div>
            <label for="info">Info</label>
            <input type="text" pInputText class="textInput" id="info" ngModel="{{editZadatak?.info}}" name="info" required/>
            <div class="drop card flex justify-content-center">
                <p-dropdown class="custom-dd" [options]="upravniks" [(ngModel)]="selectedUpravnik" name="upravnik" optionLabel="ime" [showClear]="true" placeholder="Izaberi upravnika"></p-dropdown>
            </div>
            <div class="drop card flex justify-content-center">
                <p-dropdown class="custom-dd" [options]="dezurniRadniks" [(ngModel)]="selectedDezurniRadnik" name="dezurniRadnik" optionLabel="ime" [showClear]="true" placeholder="Izaberi dežurnog radnika"></p-dropdown>
            </div>
            <div class="addBtn">
                <p-button class="main-btn" (onClick)="onUpdateZadatak(editForm.value)" [disabled]="editForm.invalid || false" type="submit" label="Sačuvaj" [raised]="true" severity="help"></p-button>
            </div>
        </form>
    </div>
</p-dialog>

<!--Modal za brisanje-->
<p-dialog header="Upozorenje" [(visible)]="deleteVisible" [modal]="true" [style]="{ width: '500px'}" [draggable]="true" [resizable]="false">
    <div class="container">
        <p>Da li zaista želite da obrišete zapis?</p>
        <br>
        <div class="addBtn">
            <p-button (onClick)="closeDeleteDialog()" class="scndBtn" label="Odustani" severity="secondary"></p-button>
            <p-button (onClick)="onDeleteZadatak(delIdZadatak)" label="Obriši" severity="danger"></p-button>
        </div>
    </div>
</p-dialog>


