<div class="background-image">

    <form #registerForm="ngForm" method="post" (ngSubmit)="register(registerForm)">
        <div class="row">
            <img class="rounded-image" src="/assets/img/logo.png">
        </div>
        
        <h1>Registracija</h1>
        <p>Unesite Vaše podatke kako biste se registrovali</p>

        <div class="row">
            <div class="column" style="margin-right: 20px;">
                <label>Ime: </label>
                <input type="text" [(ngModel)]="name" name="name" autofocus>
                <div class="error" [ngClass]="{ hidden: showNameError }">
                    Obavezno popunite ovo polje!
                </div>

                <label>Korisničko ime: </label>
                <input type="text" [(ngModel)]="username" name="username">
                <div class="error" [ngClass]="{ hidden: showUsernameError }">
                    Obavezno popunite ovo polje!
                </div>

                <label>Broj telefona: </label>
                <input type="text" [(ngModel)]="phoneNumber" name="phoneNumber" pattern="0[0-9]{8}" >
                <div class="error" [ngClass]="{ hidden: showPhoneNumberError }">
                    Obavezno popunite ovo polje!
                </div>
                <div class="error" [ngClass]="{ hidden: showPhonePatternError }">
                    Unesite validan broj telefona!
                </div>
            </div>
            <div class="column">
                <label>Prezime: </label>
                <input type="text" [(ngModel)]="lastname" name="lastname">
                <div class="error" [ngClass]="{ hidden: showLastnameError }">
                    Obavezno popunite ovo polje!
                </div>

                <label>Lozinka: </label>
                <input type="password" [(ngModel)]="password" name="password">
                <div class="error" [ngClass]="{ hidden: showPasswordError }">
                    Obavezno popunite ovo polje!
                </div>

                <label>Email: </label>
                <input type="email" [(ngModel)]="email" name="email">
                <div class="error" [ngClass]="{ hidden: showEmailError }">
                    Obavezno popunite ovo polje!
                </div>
                <div class="error" [ngClass]="{ hidden: showEmailPatternError }">
                    Unesite validnu email adresu!
                </div>
            </div>
        </div>
        
        <input type="submit" value="Registracija">  
        <input type="button" value="Prijava" (click)="login()">
    </form>

</div>

