<div class="content">
  <div class="form-container">
    <form>
        <div class="row">
            <div class="drop card flex justify-content-center mob">
              <p-dropdown class="custom-dd" [options]="dvoranas" [(ngModel)]="selectedDvorana" (ngModelChange)="onDvoranaChange($event)" name="dvorana" optionLabel="nazivDvorane" [showClear]="true" [style]="{'minWidth':'300px'}" placeholder="Izaberi dvoranu"></p-dropdown>
            </div>
            <div class="drop card flex justify-content-center mob">
              <p-dropdown class="custom-dd" [options]="terens" [(ngModel)]="selectedTeren" name="teren" optionLabel="nazivTerena" [showClear]="true" [style]="{'minWidth':'300px'}" placeholder="Izaberi teren"></p-dropdown>
            </div>
          </div>
        
          <div class="row">
            <div class="calendar-container mob">
              
                <p-calendar 
                id="datum"
                [(ngModel)]="selectedDatum"
                name="datum" 
                [showIcon]="true" 
                [showOnFocus]="false" 
                [style]="{'minWidth':'300px'}"
                [minDate]="danasnjiDatum"
                inputId="buttondisplay"
                (onSelect)="onDateSelect($event)"
                dateFormat="dd.mm.yy"
                dataType="string" />
            </div>
            <div class="button-container mob">
              <p-button label="Pretrazi" icon="pi pi-filter-fill" severity="help" (click)="filtriraj()"></p-button>
            </div>
          </div>
    </form>
  </div>
  <hr>
  <!--
  <div *ngIf="isFilterDone">
    
<div class="card">
  <p-timeline [value]="sortedDogadjajs" align="alternate" styleClass="customized-timeline">
      <ng-template pTemplate="marker" let-dogadjaj>
          <span 
              class="flex w-2rem h-2rem align-items-center justify-content-center text-white border-circle z-1 shadow-1" 
              [style]="{ 'background-color': 'white' }">
                  <i [class]="icon"></i>
          </span>
      </ng-template>
      <ng-template pTemplate="content" let-dogadjaj>
          <p-card [subheader]="dogadjaj.vrijemeOd + ' - ' + dogadjaj.vrijemeDo">
              <h5 *ngIf="dogadjaj.domacaEkipa != null && dogadjaj.gostujucaEkipa != null">
                  {{dogadjaj.domacaEkipa.nazivEkipe}} - {{dogadjaj.gostujucaEkipa.nazivEkipe}}
              </h5>
              <p>
                {{dogadjaj.infoDogadjaja}}
              </p>
              <p-button  label="Procitaj jos" [text]="true" />
          </p-card>
      </ng-template>
  </p-timeline>
</div>
<div>
  <p>Lorem ipsum</p>
</div>
  </div>
-->
<div *ngIf="isFilterDone" class="container">
  <div class="card-wrapper">
    <div class="card">
      <p-timeline [value]="sortedDogadjajs" align="alternate" styleClass="customized-timeline">
        <ng-template pTemplate="marker" let-dogadjaj>
          <span 
              class="flex w-2rem h-2rem align-items-center justify-content-center text-white border-circle z-1 shadow-1" 
              [style]="{ 'background-color': 'white' }">
              <i [class]="icon"></i>
          </span>
        </ng-template>
        <ng-template pTemplate="content" let-dogadjaj>
          <p-card [subheader]="dogadjaj.vrijemeOd + ' - ' + dogadjaj.vrijemeDo">
            <h5 *ngIf="dogadjaj.domacaEkipa != null && dogadjaj.gostujucaEkipa != null">
              {{dogadjaj.domacaEkipa.nazivEkipe}} - {{dogadjaj.gostujucaEkipa.nazivEkipe}}
            </h5>
            <p>{{dogadjaj.infoDogadjaja}}</p>
            <!--<p-button label="Procitaj jos" [text]="true" />-->
          </p-card>
        </ng-template>
      </p-timeline>
    </div>
    <div class="text-content">
      <p>Lorem ipsum</p>
    </div>
  </div>
</div>

</div>
  