<div class="content">
  <div class="form-container">
    <form>
        <div class="row">
            <div class="drop card flex justify-content-center mob">
              <p-dropdown class="custom-dd" [options]="dvoranas" [(ngModel)]="selectedDvorana" (ngModelChange)="onDvoranaChange($event)" name="dvorana" optionLabel="nazivDvorane" [showClear]="true" [style]="{'minWidth':'300px'}" placeholder="Izaberi dvoranu"></p-dropdown>
            </div>
            <div class="drop card flex justify-content-center mob">
              <p-dropdown class="custom-dd" [options]="terens" [(ngModel)]="selectedTeren" name="teren" optionLabel="nazivTerena" [showClear]="true" [style]="{'minWidth':'300px'}" placeholder="Izaberi teren"></p-dropdown>
            </div>
          </div>
        
          <div class="row">
            <div class="calendar-container mob">
              
                <p-calendar 
                id="datum"
                [(ngModel)]="selectedDatum"
                name="datum" 
                [showIcon]="true" 
                [showOnFocus]="false" 
                [style]="{'minWidth':'300px'}"
                [minDate]="danasnjiDatum"
                inputId="buttondisplay"
                (onSelect)="onDateSelect($event)"
                dateFormat="dd.mm.yy"
                dataType="string" />
            </div>
            <div class="button-container mob">
              <p-button label="Pretrazi" icon="pi pi-filter-fill" severity="help" (click)="filtriraj()"></p-button>
            </div>
          </div>
    </form>
  </div>
  <hr>
</div>
  