<div class="pozadina">
    <div class="navigacija">
        <h2>eSportskiCentar</h2>
        <div class="nav-opcije">
            <p-button label="Prijava" severity="secondary"></p-button>
            <p-button label="Registracija" severity="secondary"></p-button>
        </div>
    </div>    
    <div class="naslov">
        <h1>eSportskiCentar</h1>
        <h2>Rezerviši svoj događaj na nikad lakši način!</h2>
    </div>    
</div>
<div class="content">
    <hr>
    <div class="opis">
        <h1>Dobrodošli na našu stranicu!</h1>
        <div class="paragrafi">
            <p>eSportskiCentar je web aplikacija namjenjena za internu organizaciju sportskih centara, dvorana ili stadiona.
                Pruža mogućnost rezervacije događaja široj grupi korisnika i sportskih klijenata. Za korišćenje funkcionalnosti
                aplikacije neophodna je <a href="/register">registracija</a>. Pored mogućnosti rezervisanja događaja, korisnicima
                se pruža opcija pregleda rasporeda, kao i osnovnih informacija o dvoranama/stadionima.
            </p>
        </div>
    </div>
    <hr>
</div>