<div class="pozadina">
    <div class="navigacija">
        <h2>eSportskiCentar</h2>
        <div class="nav-opcije">
            <p-button label="Prijava" severity="secondary"></p-button>
            <p-button label="Registracija" severity="secondary"></p-button>
        </div>
    </div>    
    <div class="naslov">
        <h1>eSportskiCentar</h1>
        <h2>Rezerviši svoj događaj na nikad lakši način!</h2>
    </div>    
</div>
<div class="content">
    <hr>
    <h1>AAAAAAAAAAAAAAAA</h1>
</div>