.pozadina {
  position: absolute;
  left: 0;
  top: 0;
  background-image: url('/assets/img/aifinal.png');
  background-size: cover;
  background-position: center;
  height: 60vh; /* Full height */
  width: 100%;   /* Full width */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

/* CSS */
/* CSS */
.navigacija {
  top: 0;
  display: flex;
  justify-content: space-between; /* Razdvaja elemente sa razmakom između njih */
  align-items: center; /* Vertikalno centriranje */
  padding: 10px; /* Razmak oko sadržaja */
  width: 100%; /* Širina na celoj stranici */
  box-sizing: border-box; /* Uključuje padding u ukupnu širinu */
  margin-top: -30px;
}

.navigacija h2 {
  color: white; /* Bele boje za tekst */
  margin: 3%; /* Uklanja marginu */
}

.nav-opcije {
  display: flex; /* Prikazuje dugmad u jednom redu */
  margin-right: 3%;
}

.nav-opcije p-button {
  margin-left: 10px; /* Razmak između dugmadi */
  
}



.naslov{
  color: white;
  margin-left: 15%;
  margin-top: 15vh;
  /*background-color: rgba(11, 11, 11, 0.3);*/
  /*background-color: rgba(11, 11, 11, 0.5);*/
}

.naslov h1{
  font-size: 70px;
}

.naslov h2 {
  font-size: 40px;
}

hr {
  border: 0; /* Uklanja defaultni border */
  height: 1px; /* Debljina linije */
  background-color: #ddd; /* Boja linije, možete koristiti bilo koju boju */
}

.content{
  margin-top: 60vh;
  margin-left: -20%;
}

@media (max-width: 768px) {
  .navigacija {
    margin-top: -20px;
    top: 0;
  }

  .naslov h1{
    font-size: 40px;
  }
  
  .naslov h2 {
    font-size: 20px;
  }

  .content{
    
    margin-left: 0%;
  }

  .naslov{
    color: white;
    margin-left: 14%;
    margin-top: 15vh;
    /*background-color: rgba(11, 11, 11, 0.3);*/
    /*background-color: rgba(11, 11, 11, 0.5);*/
  }
}