<div class="pozadina">
    <div class="navigacija">
        <h2>eSportskiCentar</h2>
        <div class="nav-opcije">
            <p-button label="Prijava" severity="secondary"></p-button>
            <p-button label="Registracija" severity="secondary"></p-button>
        </div>
    </div>    
    <div class="naslov text-anim">
        <h1>eSportskiCentar</h1>
        <h2>Rezerviši svoj događaj na nikad lakši način!</h2>
    </div>    
</div>
<div class="content">
    <hr>
    <div class="opis">
        <h1>Dobrodošli na našu stranicu!</h1>
        <div class="paragrafi">
            <p>eSportskiCentar je web aplikacija namjenjena za internu organizaciju sportskih centara, dvorana ili stadiona.
                Pruža mogućnost rezervacije događaja široj grupi korisnika i sportskih klijenata. Za korišćenje funkcionalnosti
                aplikacije neophodna je <a href="/register">registracija</a>. Pored mogućnosti rezervisanja događaja, korisnicima
                se pruža opcija pregleda rasporeda, kao i osnovnih informacija o dvoranama/stadionima.
            </p>
        </div>
    </div>
    <hr>
    <div class="card-container">
        <div *ngFor="let selectedTeren of terens" class="card">
          <p-card header="{{selectedTeren.nazivTerena}}">
            <ng-template pTemplate="header">
              <img alt="Card" src="{{selectedTeren.slika}}" />
            </ng-template>
            <p>{{selectedTeren.info}}</p>
            <hr>
            <div>
              <h4>Dimenzije</h4>
              <p>{{selectedTeren.duzina}} m x {{selectedTeren.sirina}}m</p>
            </div>
            <hr>
            <div>
              <h4>Dvorana {{selectedTeren.dvorana.nazivDvorane}}</h4>
              <p>Kapacitet: {{selectedTeren.dvorana.kapacitet}}</p>
              <div class="flex-container">
                <div class="info-upravnik">
                  <h5>{{selectedTeren.tipTerena.nazivTipaTerena}}</h5>
                  <p>{{selectedTeren.tipTerena.info}}</p>
                </div>
              </div>
            </div>
          </p-card>
        </div>
    </div>
    <hr>
    <div>
        
    </div>
</div>