<div class="content">
    <div class="form-container">
      <form>
          <div class="row">
              <div class="drop card flex justify-content-center mob">
                <p-dropdown class="custom-dd" [options]="dvoranas" [(ngModel)]="selectedDvorana" (ngModelChange)="onDvoranaChange($event)" name="dvorana" 
                        optionLabel="nazivDvorane" [showClear]="true" [style]="{'minWidth':'300px'}" placeholder="Izaberi dvoranu">
                </p-dropdown>
              </div>
              <div class="drop card flex justify-content-center mob">
                <p-dropdown class="custom-dd" [options]="terens" [(ngModel)]="selectedTeren" (ngModelChange)="onTerenChange($event)" name="teren" 
                        optionLabel="nazivTerena" [showClear]="true" [style]="{'minWidth':'300px'}" placeholder="Izaberi teren">
                </p-dropdown>
              </div>
            </div>
          
            <div class="row">
              <div class="calendar-container mob">
                  <p-calendar id="datum" [(ngModel)]="selectedDatum" name="datum" [showIcon]="true" [showOnFocus]="false" [style]="{'minWidth':'300px'}"
                  [minDate]="earliestDate" inputId="buttondisplay" (onSelect)="onDateSelect($event)" dateFormat="dd.mm.yy" dataType="string" />
              </div>
              <div class="button-container mob">
                <p-button label="Pretraži" icon="pi pi-filter-fill" severity="help" (click)="pretrazi()" [disabled]="isPretraziDisabled"></p-button>
              </div>
            </div>
      </form>
    </div>
    <hr>

    <div *ngIf="showCalendar" class="container">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th *ngFor="let date of headerDates">
                      {{ date }}
                    </th>
                  </tr>
            </thead>
            <tbody>
              <tr *ngFor="let hour of times; let rowIndex = index">
                <td class="first-column">{{ hour }}</td>

                <ng-container *ngFor="let date of headerDates; let colIndex = index" >
                  <ng-container *ngIf="getMatrixElement(rowIndex, colIndex) as event; else noEvent">

                    <td style="white-space: pre-line;" [ngStyle]="{'background-color': event.vrstaTakmicenja === 'Rekreativni termin' ? 'rgba(6, 143, 68, 0.5)' : 'rgba(197, 44, 6, 0.5)',
                      'border-top': event.rowspan > 0 ? '5px rgba(50, 0, 128, 0.603) solid' : ''
                    }"
                      *ngIf="event.display" [attr.rowspan]="event.rowspan > 0 ? event.rowspan : null">
                      <p> {{ showEventInfo(event) }} </p>

                    </td>
                  </ng-container>

                  <ng-template #noEvent>
                    <td> </td>
                  </ng-template>
                </ng-container>
              </tr>
            </tbody>
        </table>
    </div>
  </div>
