<div class="main-content">
    <h1>Zadaci</h1>
    <div class="head-panel">
        <div class="drop card flex justify-content-center mob">
            <p-dropdown class="custom-dd" [options]="opcijas" [(ngModel)]="selectedOpcija" (ngModelChange)="onOpcijaChange($event)" name="opcija" [showClear]="true" [style]="{'minWidth':'300px'}" placeholder="Izaberi opciju"></p-dropdown>
        </div>
        <div class="button-container mob">
            <!--<p-button class="main-btn" label="Pretrazi" icon="pi pi-filter-fill" severity="help" (click)="filtriraj()"></p-button>-->
        </div>
    </div>
    <hr>
    <!--*ngIf="mainContentVisible"-->
    <div>
        <div *ngFor="let zad of zadataks" class="card flex justify-content-center">
            <p-card header="{{zad.naslov}}">
                <div>
                    <h4 [ngClass]="danasnjiDatum.getTime() <= parseDate(zad.rokIzvrsenja).getTime() ? 'available' : 'not-available'">Rok izvrsenja: {{zad.rokIzvrsenja}}</h4>
                    <p class="m-0">
                        {{zad.info}}
                    </p>
                </div>
                <div>

                </div>
            </p-card>
        </div>
    </div>
</div>