.main-content{
    margin: 25px;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    padding: 15px;
}

.head-panel {
    display: flex;
    justify-content: center; /* Centriranje elemenata */
    align-items: center;
}

.drop,
.button-container {
    margin: 0 15px; /* Veći razmak za desktop uređaje */
}

hr {
    border: 0; /* Uklanja defaultni border */
    height: 1px; /* Debljina linije */
    background-color: #ddd; /* Boja linije, možete koristiti bilo koju boju */
  }

  ::ng-deep .main-btn .p-button{
    background: rgba(50, 0, 128, 0.603) !important;
    border: 1px solid white;
    /*border: 1px solid blueviolet;
    background: rgba(9, 0, 128, 0.603);
    border: 1px solid #ddd;*/
    color: white !important;
  }

/*
::ng-deep .false-btn .p-button:hover {
    background: #c82333 !important;
}

::ng-deep .false-btn .p-button{
    background: #dc3545 !important;
    border: 1px solid white;
    
    color: white !important;
  }
*/

::ng-deep .main-btn .p-button:hover {
    background: rgba(70, 0, 128, 0.803) !important;
}

::ng-deep .main-card .p-card {
    margin-bottom: 20px;
}

::ng-deep .good-btn .p-button {
    margin-right: 30px;
    min-width: 100px;
}

::ng-deep .false-btn .p-button {
    min-width: 100px;
}

.available 
{
    color: green;
}
  
.not-available 
{
    color: red;
}

.task-card-container {
    display: flex;
    justify-content: space-between;
}

.task-card-content {
    flex: 1; /* Zauzima sav preostali prostor */
}

.task-card-side-content {
    flex: 0 0 20%; /* Zauzima 20% širine */
}

h3 {
    margin-bottom: 10px;
}

.btns{
    margin-top: 20px;
}



@media (max-width: 768px) {
    .head-panel {
        flex-direction: column; /* Postavljanje elemenata jedan ispod drugog za mobilne uređaje */
    }

    .drop,
    .button-container {
        margin: 10px 0; /* Manji razmak za mobilne uređaje */
    }

    ::ng-deep .good-btn .p-button {
        margin-right: 30px;
        min-width: 100px;
        margin-bottom: 10px;
    }

    .task-card-side-content {
        flex: 0 0 1%; /* Zauzima 20% širine */
    }
}
